@page
@model BookingTennisCourts.Pages.Reservations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Czy napewno chcesz usunąć dane?</h3>
<h3>Tej operacji nie da się cofnąć</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data
        </dt>
        <dd class="col-sm-10">
            @Model.Reservation.Date.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Kort
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourtName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.FullPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.FullPrice)
        </dd>
        <hr />
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reservation.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-outline-secondary">Powrót</a>
    </form>
</div>
