@page
@model BookingTennisCourts.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rezeracje:</h1>

<div class="text-center">
    <h1 class="display-4">
        @if (TempData.ContainsKey("ReservationMessage"))
        {
            <p class="text-success">@TempData["ReservationMessage"]</p>
        }
    </h1>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id rezerwacji
                </th>
                <th>
                    Kort
                </th>
                <th>
                    Data
                </th>
                <th>
                    StartTime
                </th>
                <th>
                    EndTime
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reservation)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Court.Name)
                    </td>
                    <td>
                        @item.Data.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a> |
                        <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-book" aria-hidden="true"></i> Details</a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
