@page
@model BookingTennisCourts.Pages.Courts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zarządzaj kortami w klubie</h1>

<p>
    <a class="btn btn-primary" asp-page="Create"><i class="fa fa-plus" aria-hidden="true"> </i> Dodaj kort</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Nazwa </th><th> Info </th><th> Status </th><th> Cena/h </th><th> Zdjęcie </th><th> Akcje </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Court)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Info)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PricePerHour)
                    </td>
                    <td>
                        <img src="@item.UrlToPicture" alt="Zdjęcie kortu" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id"> Edytuj </a> |
                        <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id"> Szczgóły </a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"> Usuń </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
