@page
@model BookingTennisCourts.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Rezerwacje Kortów</title>
</head>
<body>
    <header>
        <div class="header-background"></div>
        <div class="header-content">
            <h1>Rezerwacje Kortów Tenisowych</h1>
            <p>Wybierz kort i zarezerwuj swój czas gry.</p>
        </div>
    </header>

    <main>
        <section id="court-selection">
            <h2>Wybierz Kort</h2>
            @if (Model.Courts != null)
            {
                @foreach (var court in Model.Courts)
                {
                    <div class="btn-group">
                        <form method="post" asp-page-handler="SelectCourt">
                            <input type="hidden" name="SelectedCourt" value="@court.Id" />
                            <button type="submit" class="btn btn-primary">@court.Name</button>
                        </form>
                    </div>
                }
            }
        </section>

        <section id="Time">
            <h2>Wybierz godzinę rozpoczęcia:</h2>
            <div class="btn-group">
                @for (int i = 10; i < 18; i++)
                {
                    var hour = $"{i:00}:00:00";

                    // Sprawdź dostępność godziny rozpoczęcia w zależności od kortu
                    var isHourAvailable = Model.Reservations == null ||
                    !Model.Reservations.Any(r => r.CourtId == Model.SelectedCourt &&
                    (TimeSpan.Parse(hour) >= r.StartTime && TimeSpan.Parse(hour) < r.EndTime));

                    <form method="post" asp-page-handler="SelectHour">
                        <input type="hidden" name="SelectedCourt" value="@Model.SelectedCourt" />
                        <button type="submit" class="btn btn-outline-primary" name="SelectedHour" value="@hour" @(isHourAvailable ? "" : "disabled")>@i:00</button>
                    </form>
                }
            </div>
        </section>

            <h2>Wybierz godzinę zakończenia:</h2>
            <div class="btn-group">
                @{
                    int lastAvailableEndHour = Model.StartTime.Hours + 1;

                    for (int i = Model.StartTime.Hours + 1; i <= 18; i++)
                    {
                        var endHour = $"{i:00}:00:00";

                        // Sprawdź dostępność godziny zakończenia w zależności od kortu
                        var isEndHourAvailable = Model.Reservations == null ||
                        !Model.Reservations.Any(r => r.CourtId == Model.SelectedCourt &&
                        (TimeSpan.Parse(endHour) >= r.StartTime && TimeSpan.Parse(endHour) < r.EndTime));

                        if (isEndHourAvailable)
                        {
                            lastAvailableEndHour = i;
                        }
                        else
                        {
                            break;
                        }
                    }

                    for (int i = Model.StartTime.Hours + 1; i <= lastAvailableEndHour; i++)
                    {
                        var endHour = $"{i:00}:00:00";

                        <form method="post" asp-page-handler="SelectEndHour">
                            <input type="hidden" name="SelectedCourt" value="@Model.SelectedCourt" />
                            <input type="hidden" name="SelectedHour" value="@Model.SelectedHour" />
                            <button type="submit" class="btn btn-outline-danger" name="SelectedEndHour" value="@i:00:00">@i:00</button>
                        </form>
                    }
                }
            </div>

        <section id="reservation-form">
            <h2>Zarezerwuj Kort</h2>

            <form asp-page-handler="CreateReservation">
                <div class="form-group">
                    <label asp-for="SelectedCourt" class="control-label">Court</label>
                    <input asp-for="SelectedCourt" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="ReservationData" class="control-label"></label>
                    <input asp-for="ReservationData" class="form-control" type="date" />
                    <span asp-validation-for="ReservationData" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedHour" class="control-label">Start Time</label>
                    <input asp-for="SelectedHour" class="form-control" readonly>
                </div>

                    <div class="form-group">
                        <label asp-for="SelectedEndHour" class="control-label">End Time</label>
                        <input asp-for="SelectedEndHour" class="form-control" readonly>
                    </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </section>
    </main>
</body>
</html>
