@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Witaj w Tennis Club</h1>

<p class="lead">
    Twoim miejscu, gdzie pasja do tenisa łączy się z niezapomnianymi chwilami, emocjami i sportową przygodą! <br />
    Nasz klub to nie tylko miejsce treningów, ale przede wszystkim społeczność, w której rozwija się miłość do tenisa.<br />
</p>

<p class="lead">
    Dysponujemy nowoczesnymi kortami tenisowymi, które spełniają najwyższe standardy.<br />
    Nasze obiekty są dostępne dla wszystkich członków klubu, aby mogli cieszyć się grą o każdej porze dnia.</br>
</p>

<div class="Container d-flex justify-content-between">
    @foreach (var court in Model.Courts)
    {
        <div class="ImgContainer">
            <img src="@court.UrlToPicture" alt="@court.Name" class="img-fluid">
            <p>@court.Name</p>
            <p>Opis: @court.Info</p>
            <p>Cena za godzinę: @court.PricePerHour zł</p>
        </div>
    }
</div>


<h2 class="mt-5">Zarezerwuj swój kort już teraz</h2>

@if (User.Identity.IsAuthenticated)
{
    <h3>Wybierz kort i datę</h3>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CourtId" class="control-label">Kort</label>
            <select asp-for="CourtId" class="form-control">
                @foreach (var court in Model.Courts)
                {
                    <option value="@court.Id">@court.Name</option>
                }
            </select>
            <span asp-validation-for="CourtId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input type="date" asp-for="Date" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <input type="submit" value="Sprawdź dostępne godziny" class="btn btn-success" />
        </div>
    </form>
}
else
{
    <h3>Zaloguj się, aby dokonać rezerwacji</h3>
}